* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header .container .header-A {
  padding: 15px 50px;
  background-color: #cd1818;
  display: flex;
  justify-content: space-between;
}
header .container .header-A .logo-fpt {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1b/Logo-FPT-Shop-Black.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
}
header .container .header-A .search-fpt form {
  display: flex;
}
header .container .header-A .search-fpt form input {
  width: 500px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  padding: 5px;
}
header .container .header-A .search-fpt form button {
  width: 50px;
  background-color: black;
  color: white;
  border-radius: 0 5px 5px 0;
}
header .container .header-A .header-list-fpt {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  color: white;
}
header .container .header-A .header-list-fpt .header-item-fpt {
  margin-right: 20px;
}
header .container .list-header-B {
  padding: 10px 60px;
  background-color: black;
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
header .container .list-header-B li {
  display: inline-block;
}
header .container .list-header-B li .fa {
  margin-right: 7px;
}

.carousel-img {
  position: relative;
  height: 680px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.fpt.shop/unsafe/fit-in/filters:quality(95):fill(transparent)/fptshop.com.vn/Uploads/Originals/2023/8/28/638288411406628191_desk-header-bg.png");
}
.carousel-img .container .carousel-child-img {
  position: absolute;
  background-image: url("https://images.fpt.shop/unsafe/fit-in/filters:quality(80):fill(transparent)/fptshop.com.vn/Uploads/Originals/2023/8/30/638289971524978477_desk-header@2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
  height: 200px;
  width: 80%;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.carousel-img .container .carousel-realme {
  display: flex;
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
.carousel-img .container .carousel-realme .realme-A {
  width: 70%;
}
.carousel-img .container .carousel-realme .realme-A .realme-A-img {
  background-image: url("https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/8/31/638291151152317532_F-H1_800x300.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}
.carousel-img .container .carousel-realme .realme-A .realme-A-list {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
}
.carousel-img .container .carousel-realme .realme-A .realme-A-list li {
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.carousel-img .container .carousel-realme .realme-B {
  padding-left: 5px;
  width: 30%;
}
.carousel-img .container .carousel-realme .realme-B .B-img-1 {
  background-image: url("https://images.fpt.shop/unsafe/fit-in/385x100/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/8/1/638264808353593011_F-H2_385x100.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  margin-bottom: 5px;
}
.carousel-img .container .carousel-realme .realme-B .B-img-2 {
  background-image: url("https://images.fpt.shop/unsafe/fit-in/385x100/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/8/1/638264776251597698_H2_385x100iP13%201.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  margin-bottom: 5px;
}
.carousel-img .container .carousel-realme .realme-B .km {
  font-size: 18px;
  color: #6c757d;
  font-weight: 600;
}
.carousel-img .container .carousel-realme .realme-B .support-product {
  display: flex;
  margin-top: 10px;
}
.carousel-img .container .carousel-realme .realme-B .support-product p {
  font-weight: 800;
}
.carousel-img .container .carousel-realme .realme-B .support-product .support-img {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
}
.carousel-img .container .carousel-realme .realme-B .support-product .image-1 {
  width: 70px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.fpt.shop/unsafe/fit-in/70x40/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/images/2015/PhuongMT5/Tin%20KM%20main(10).png");
  height: 50px;
}
.carousel-img .container .carousel-realme .realme-B .support-product .image-2 {
  width: 70px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.fpt.shop/unsafe/fit-in/70x40/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/images/2015/PhuongMT5/Tin%20KM%20main(17).png");
  height: 50px;
}

.carousel-img .container .carousel-realme .realme-A .realme-A-list li::before {
  position: absolute;
  content: "";
  bottom: -14px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: red;
  transition: all linear 0.3s;
  border-radius: 5px;
}

.carousel-img .container .carousel-realme .realme-A .realme-A-list li:hover::before {
  width: 100%;
}

.carousel-img .container .carousel-realme .realme-A .realme-A-list li:hover {
  font-weight: 800;
}

.list-icon {
  padding-top: 50px;
  margin-top: -43px;
  background-color: #f64825;
}
.list-icon .container {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
}
.list-icon .container .list-icon-total {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
.list-icon .container .list-icon-total .list-icon-item {
  background-color: white;
  color: black;
  text-align: center;
  border: 1px solid #e1e1e1;
  padding: 10px;
}
.list-icon .container .list-icon-total .list-icon-item .icon-img img {
  border-radius: 50%;
  background-color: #f4f4f4;
  padding: 20px;
}

.list-icon .container .list-icon-total .list-icon-item:hover {
  border-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.add-product {
  padding-top: 50px;
  background-color: #f64825;
}
.add-product .container {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  background-image: url("https://images.fpt.shop/unsafe/fit-in/filters:quality(95):fill(transparent)/fptshop.com.vn/Uploads/Originals/2023/8/28/638288411406628191_desk-header-bg.png");
}
.add-product .container h5 {
  background-color: #cd1818;
  text-align: center;
  font-size: 20px;
  color: white;
  width: 300px;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
}
.add-product .container .add-product-section form {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}
.add-product .container .add-product-section form .box-add-product label {
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
  color: white;
}
.add-product .container .add-product-section form .box-add-product input {
  padding: 2px 5px;
}
.add-product .container .add-product-section form span {
  cursor: pointer;
  display: block;
  color: white;
  padding: 5px;
  border-radius: 10px;
  background-color: #cd1818;
}

.add-product .container .add-product-section form span:hover {
  background-color: white;
  border: 1px solid red;
  color: red;
}

.discount {
  background-color: #f64825;
  padding-top: 50px;
}
.discount .container {
  background-color: white;
  width: 90%;
  margin: 0 auto;
}
.discount .container .discount-title {
  font-size: 25px;
  color: red;
  padding: 20px;
  font-weight: 800;
}
.discount .container .discount-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.discount .container .discount-table .discount-table-child {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.discount .container .discount-table .discount-table-child .discount-img {
  transition: all linear 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.fpt.shop/unsafe/fit-in/540x420/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2023/7/20/638254894959093969_frame-cate-270x210.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 220px;
}
.discount .container .discount-table .discount-table-child .discount-img .tragop {
  position: absolute;
  z-index: 1000;
  border-radius: 0 5px 5px 0;
  display: block;
  padding: 3px 10px;
  color: white;
  left: 0;
  bottom: 50px;
  background-color: #ea9d02;
}
.discount .container .discount-table .discount-table-child .discount-img .giam {
  position: absolute;
  z-index: 1000;
  border-radius: 0 5px 5px 0;
  display: block;
  padding: 3px 10px;
  color: white;
  left: 0;
  bottom: 20px;
  background-color: #cd1818;
}
.discount .container .discount-table .discount-table-child .discount-content {
  padding-bottom: 10px;
}
.discount .container .discount-table .discount-table-child .discount-content h4 {
  padding: 10px 0 10px 5px;
}
.discount .container .discount-table .discount-table-child .discount-content .discount-price {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 5px;
}
.discount .container .discount-table .discount-table-child .discount-content .discount-price .main-price-color {
  position: relative;
  background-color: #ef8573;
  color: white;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.discount .container .discount-table .discount-table-child .discount-content .discount-price .main-price-color span {
  position: absolute;
  z-index: 1000;
}
.discount .container .discount-table .discount-table-child .discount-content .discount-price .discount-price-color {
  font-size: 15px;
  color: #919191;
  text-decoration: line-through;
  padding-right: 10px;
}
.discount .container .discount-table .discount-table-child .discount-content .payment-method {
  display: flex;
  position: relative;
  padding: 15px 5px 30px 5px;
  margin: 5px;
  background-color: rgb(248, 249, 250);
}
.discount .container .discount-table .discount-table-child .discount-content .payment-method img {
  margin-right: 5px;
  border-radius: 50%;
}
.discount .container .discount-table .discount-table-child .discount-content .payment-method .content {
  position: absolute;
  top: 70px;
  color: grey;
  display: none;
  left: 3px;
}

.discount .container .discount-table .discount-table-child .discount-img:hover {
  transform: scale(1.03);
}

.discount .container .discount-table .discount-table-child:hover {
  border: 1px solid grey;
  border-radius: 5px;
}

.discount .container .payment-method .zalo-box:hover > .content-zalo,
.discount .container .payment-method .kredivo-box:hover > .content-kredivo,
.discount .container .payment-method .techcom-box:hover > .content-tech,
.discount .container .payment-method .QR-box:hover > .content-QR {
  display: block !important;
}

.discount .container .discount-table .discount-table-child .discount-content .discount-price .main-price-color::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 75%;
  left: 0;
  top: 0;
  background-color: #cd1818;
  border-radius: 30px 0 0 30px;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */